.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
}

.formulario{
  border-right: 1px solid var(--cor-preto);
  border-bottom: 1px solid var(--cor-preto);
}

.tabela{
  width: 100%;
  border-left: 1px solid var(--cor-preto);
  padding: 1rem;
}
