.table {
 
  width: 100%;
  box-sizing: border-box;
  
  margin: .3rem;
  font-family: var(--fontSecondary);
  font-size: var(--fontSizeMedium);
  
  border: var(--table-border);
  border-collapse: collapse;

  overflow: hidden;
  //box-shadow: var(--table-box-shadow);
}
